*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  background-color: hsl(217, 28%, 15%);
}
a{
  text-decoration: none;
}
header{
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}
.header{
  width: 170rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  display: flex;

}
.header-menu{
  display: flex;
  gap: 6rem;
  text-decoration: none;
  list-style: none;
}
.header-menu a{
  color: white;
}
.header-menu a:hover{
  color: rgb(200, 199, 199);
}
.conteudo{
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.conteudo h1{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  word-wrap: break-word;
  color: white;
  letter-spacing: 1px;
  line-height: 4.5rem;
}
.conteudo p{
  text-align: center;
  margin-bottom: 2rem;
  color:  hsl(0, 0%, 100%);
  line-height: 2.3rem;
}
.botao-main{
  background-color: hsl(198, 60%, 50%);
  margin-bottom: 20rem;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 20rem;
  padding: 1rem;
  border-radius: 4rem;
}
.botao-main:hover{
  background-color: hsl(198, 68%, 46%);
}

.shapedividers_com-1035{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-1035::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: 5vw; 
  background-size: 100% 149px;
  background-position: 10% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.1 35.28 2.17" preserveAspectRatio="none"><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" fill="%23181f2a"/></svg>'); 
  }
.informacoes-bg{
  background-color: hsl(218, 28%, 13%) ;
}
.informacoes{
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 3rem;
  padding-bottom: 10rem;
}
.card-infos{
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}
.card-infos h3{
  margin-bottom: 1rem;
  color: white;
}
.card-infos img{
  margin-bottom: 2rem;
}
.card-infos p{
  text-align: center;
  color: rgb(219, 214, 214);
  line-height: 2rem;
}
.produtivo-bg{
  background-color: hsl(218, 28%, 13%);
}
.produtivo{
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 15rem;
}
.produtivo h2{
  margin-top: 10rem;
  font-size: 3rem;
  color: white;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.produtivo p{
  color:  rgb(219, 214, 214);
  line-height: 3rem;
  margin-bottom: 1rem;
}
.produtivo a{
  display: inline-block;
  padding: 0.5rem 0;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
  cursor: pointer;
}

.depoimento-bg{
  background-color:  hsl(218, 28%, 13%);
  position: relative;
}
.depoimento-bg::before{
  content: '';
  display: flex;
  background-image: url('/img/bg-quotes.png');
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-left: 34rem;
  top: -3rem;
  z-index: 1;
  position: absolute;
}

.depoimentos{
  width: 120rem;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding-bottom: 20rem;
}
.depoimento-conteudo{
  background-color: hsl(219, 30%, 18%);
  border-radius: .5rem;
  width: 42rem;
  color: rgb(235, 232, 232);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 1;
}
.depoimento-conteudo p{
  line-height: 2.5rem;
}
.img-profile{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img-profile img{
  border-radius: 10rem;
  width: 4rem;
}
.apresentacao-text{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
.apresentacao-text span{
  font-size: 1.4rem;
  font-weight: bold;
}
.apresentacao-text p{
  color: rgb(212, 209, 209);
  font-size: 1.2rem;
}
.contato-bg{
  background-color:  hsl(218, 28%, 13%);
  box-shadow: inset 0 -80px  hsl(216, 53%, 9%);
}
.contato{
  width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color:hsl(217, 28%, 15%);
  border-radius: .5rem;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;

}
.contato h1{
  font-size: 3.2rem;
  color: white;
  text-align: center;
}
.contato p{
  color: rgb(192, 192, 192);
  text-align: center;
  line-height: 2.5rem;
}
.input-contato{
  display: flex;
  gap: 3rem;
}
.input-contato button{
  border-radius: 4rem;
  width: 20rem;
  color: white;
  font-weight: bold;
  background-color: hsl(198, 60%, 50%);
  cursor: pointer;
  border: none;
}
.input-contato button:hover{
  background-color: hsl(198, 68%, 46%);
}
.input-contato input{
  padding: 2rem;
  border-radius: 4rem;
  width: 55rem;
  height: 3rem;
}

.footer-bg{
  background-color: hsl(216, 53%, 9%);
}
.footer{
  width: 170rem;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.footer-img{
 display: grid;
 gap: 3rem;
}
.detalhtes-footer{
  display: flex;
  gap: 2rem;
  line-height: 2.5rem;
  color: rgb(221, 218, 218);
}
.footer-contato{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 6rem;
}
.detalhtes-contato{
  display: flex;
  gap: 2rem;
  color: rgb(221, 218, 218);;
}
.footer-sobre{
  display: flex;
  gap: 5rem;
  margin-top: 12rem;
}
.footer-sobre ul li{
  list-style: none;
  margin-bottom: 1.5rem;
}
.footer-sobre a{
  color: rgb(221, 218, 218);
}
.footer-redes{
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}